@media screen and (max-width:991px) {
	.main {
		width: 100%;
	}

	.sidebar {
		display: none;
	}
	.comment__inner {
		display: none;
	}

	.comment__inner:nth-last-of-type(1),
	.comment__inner:nth-last-of-type(2),
	.comment__inner:nth-last-of-type(3),
	.comment__inner:nth-last-of-type(4) {
		display: block;
	}
}


@media screen and (max-width:767px) {
	.logo, 
	.header-social {
		display: block;
		text-align: center;
		width: 100%;
	}

	.header-search {
		display: none;
	}

	.socail-bar {
		width: 100%;
		text-align: center;
	}

	.menu {
		display: none;
	}
}

@media screen and (max-width: 450px) {

	.user-info {
		margin-right: 42px;
	}


	.user__text {
		margin-right: 0;
		margin-top: 10px;
	}

	.user__date {
		display: block;
		margin-left: 0;
	}

	.user__img {
		top: -47px;
	}

	.likes {
		display: none;
	}

	.comment__inner_modify {
		margin-left: 10px;
	}

}














@media screen and (min-width: 768px){
 .container {
  width: 747px;
  margin: 0 auto;
 }
}

@media screen and (min-width: 992px){
 .container {
  width: 980px;
  margin: 0 auto;
 }
}