/*reset*/
body, h1, h2, h3, h4, h5, p, ul {
	padding: 0;
	margin: 0;
}

ol, ul {
	list-style-type: none;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.4;
	direction: rtl;
}

.container {
	padding: 15px;
}

.fixed {
	position: fixed;
	top: 5px;
	width: 313.5px;
}

.header-social-wrap {
	display: table;
	width: 100%;
	font-size: 0;
}

.logo, .header-social {
	vertical-align: middle;
	font-size: 16px;
	text-align: center;
	margin-bottom: 20px;
}

.header-social {
	text-align: left;
}

.header-search {
	position: relative;
	display: inline-block;
	width: 250px;
}

.search__field {
	display: block;
	width: 100%;
	padding: 0 15px 0 30px;
	height: 30px;
}

.search__link {
	position: absolute;
	top: 50%;
	left: 10px;
	margin-top: -9px;
	color: #8f8d8d;
	text-decoration: none;
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.socail-bar {
	width: 250px;
	margin-right: auto;
	margin-top: 15px;
	text-align: center;
}

.social__link {
	display: inline-block;
	text-decoration: none;
	padding: 5px;
	margin: 0 5px;
	font-size: 22px;
	width: 35px;
	height: 35px;
	color: #fff;
	-webkit-transition: border-radius .2s linear;
	-o-transition: border-radius .2s linear;
	transition: border-radius .2s linear;
}

.social__link:hover {
	border-radius: 50%;
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, .6);
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, .6);
}

.social__link:before {
	display: inline-block;
	line-height: normal;
}

.icon-facebook {
	background: #1f4681;
}

.icon-twitter {
	background: #53b5e2;
}

.icon-pinterest {
	background: #ce453a;
}

.icon-instagram {
	background: #41596e;
}

.icon-youtube {
	background: #d64437;
}

.menu {
	margin: 30px 0 0;
	padding: 8px 0;
	text-align: center;
	border-top: 1px solid #555;
	border-bottom: 4px solid #555;
	font-size: 0;
}

.menu__list {
	display: inline-block;
	border-right: 1px solid #ccc;
	text-align: center;
}

.menu__list:first-child {
	border-right: none;
}

.menu__link {
	display: inline-block;
	vertical-align: middle;
	padding: 4px 10px 6px;
	font-size: 16px;
	text-decoration: none;
	color: #555;
	-webkit-transition: background, color .2s linear;
	-o-transition: background, color .2s linear;
	transition: background, color .2s linear;
}

.menu__link:hover {
	background: #000;
	color: #fff;
}

/*content*/
.content {
	display: table;
	width: 100%;
	margin-top: 20px;
	font-size: 0;
}

.main, .sidebar {
	display: inline-block;
	vertical-align: top;
	width: 65%;
	font-size: 16px;
}

.sidebar {
	width: 33%;
	margin-right: 2%;
	padding-top: 27px;
}

.publication {
	padding-bottom: 8px;
	margin-bottom: 20px;
	border-bottom: 1px dotted #ccc;
	text-align: center;
	font-size: 14px;
	color: #999;
}

.public__date, .public__comment {
	position: relative;
	display: inline-block;
	padding: 0 20px;
}

.public__comment:before {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -6px;
	right: -6px;
	width: 12px;
	height: 12px;
	background: #962167;
	background: -moz-linear-gradient(left, #962167 0%, #e2536d 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #962167), color-stop(100%, #e2536d));
	background: -webkit-linear-gradient(left, #962167 0%, #e2536d 100%);
	background: -o-linear-gradient(left, #962167 0%, #e2536d 100%);
	background: -ms-linear-gradient(left, #962167 0%, #e2536d 100%);
	background: linear-gradient(to right, #962167 0%, #e2536d 100%);
	border-radius: 50%;
}

.main-title {
	font-size: 30px;
	text-align: center;
	margin-bottom: 20px;
}

.name-author, .main-concurs {
	font-size: 18px;
	font-weight: 700;
	font-style: italic;
}

.concurs__item {
	font-weight: 400;
}

.main__text {
	margin: 20px 0;
}

.text-title {
	font-size: 22px;
	margin: 20px 0;
}

.links {
	font-weight: 700;
	color: #801d58;
}

.links:hover {
	text-decoration: none;
}

.main__img {
	text-align: center;
}

.main__img img {
	padding: 5px;
	border: 1px solid #ccc;
}

.text-title_modify {
	text-align: center;
	margin-top: 0px;
}

.order-button {
	text-align: center;
	margin-bottom: 20px;
}

.order__link {
	display: inline-block;
	padding: 20px 15px;
	font-size: 20px;
	font-weight: 700;
	text-decoration: none;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	background: #f296ed;
	background: -moz-linear-gradient(top, #f296ed 0%, #8d0b99 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f296ed), color-stop(100%, #8d0b99));
	background: -webkit-linear-gradient(top, #f296ed 0%, #8d0b99 100%);
	background: -o-linear-gradient(top, #f296ed 0%, #8d0b99 100%);
	background: -ms-linear-gradient(top, #f296ed 0%, #8d0b99 100%);
	background: linear-gradient(to bottom, #f296ed 0%, #8d0b99 100%);
	border-radius: 15px;
}

.order__link:hover {
	background: #8d0b99;
	background: -moz-linear-gradient(top, #8d0b99 0%, #f296ed 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #8d0b99), color-stop(100%, #f296ed));
	background: -webkit-linear-gradient(top, #8d0b99 0%, #f296ed 100%);
	background: -o-linear-gradient(top, #8d0b99 0%, #f296ed 100%);
	background: -ms-linear-gradient(top, #8d0b99 0%, #f296ed 100%);
	background: linear-gradient(to bottom, #8d0b99 0%, #f296ed 100%);
}

.comments {
}

.comment-title {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 25px;
}

.comment__inner {
	margin: 20px 0;
}

.user__name, .user__date {
	display: inline-block;
	font-size: 14px;
	color: #333;
}

.user__date {
	margin-left: 20px;
	color: #999;
}

.likes {
	float: left;
	display: none;
}

.likes__item {
	background: #f2f2f2;
	color: #999;
	padding: 3px 6px;
}

.likes__item_modify {
	padding: 3px 12px;
	color: #000;
}

.text-block {
	position: relative;
	margin-top: 5px;
}

.user__img {
	position: absolute;
	width: 36px;
	height: 36px;
	padding: 1px;
	border: 1px solid #ccc;
}

.user__text {
	margin-right: 42px;
	background: #f2f2f2;
	padding: 5px 15px;
}

.comment__img {
	margin: 10px 0;
}

.comment__inner_modify {
	margin-right: 40px;
}

.footer {
	padding: 25px 0;
	text-align: center;
}

.sidebar__inner {
	padding: 2px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 15px;
}

.sidebar__inner_modify {
	background: #f7f7f7;
	text-align: center;
}

.sidebar__inner:after {
	content: ' ';
	display: table;
	clear: both;
}

.sidebar__img {
	float: left;
	border-right: 2px solid #fff;
	margin-right: 5px;
	border-radius: 3px 0 0 3px;
	max-height: 225px;
}

.sidebar__text {
	text-align: right;
	font-size: 14px;
	margin: 5px 0 5px auto;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

.socail-bar_modify {
	width: 100%;
	text-align: center;
}

.social__link_modify {
	font-size: 16px;
	line-height: normal;
	width: 25px;
	height: 25px;
	padding: 0;
	margin: 5px 2px;
}

.social__link_modify:before {
	vertical-align: middle;
}

.sidebar-title-wrap {
	position: relative;
	display: table;
	width: 90%;
	margin: 0 auto;
	height: 50px;
	text-align: right;
}

.sidebar-icon {
	position: absolute;
	right: 0;
	top: 7px;
	font-size: 22px;
	color: #fff;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	text-align: center;
}

.sidebar-title {
	display: table-cell;
	vertical-align: middle;
	font-size: 18px;
	padding-right: 45px;
	color: #666;
}

.sidebar-icon:before {
	vertical-align: middle;
}

.teasers {
	display: table;
	width: 100%;
	font-size: 0;
}

.teaser-img {
	display: inline-block;
	vertical-align: top;
	width: 23%;
	margin: 1%;
	padding: 1px;
	border: 1px solid #ccc;
}

.teaser-button {
	display: block;
	width: 98%;
	padding: 5px;
	margin: 10px 1%;
	font-size: 22px;
	font-style: italic;
	text-decoration: none;
	color: #ce453a;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 3px;
	-webkit-transition: box-shadow .2s linear;
	-o-transition: box-shadow .2s linear;
	transition: box-shadow .2s linear;
}

.teaser-button:hover {
	-webkit-box-shadow: 0 0px 5px 1px rgba(206, 69, 58, .4);
	box-shadow: 0 0px 5px 1px rgba(206, 69, 58, .4);
}

.img_1, .img_2 {
	max-height: 318px;
}

.img-3 {
	max-height: 140px;
}

.img-4 {
	max-height: 256px;
}

.img-5 {
	max-height: 228px;
}

.img-6 {
	max-height: 320px;
}
